/* Weil ::backdrop Kind keines Elements ist,
   können die Variablen nicht von :root gefetched werden, sondern müssen
   direkt am Element definiert werden.
   https://fullscreen.spec.whatwg.org/#::backdrop-pseudo-element */
:root,
::backdrop {
  /* Nutze (wenn möglich) Systemfont. Quelle: https://css-tricks.com/snippets/css/system-font-stack/ */
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Noto Sans, "Helvetica Neue", sans-serif;
  --font-size: 16px;

  /* brand foundation */
  --brand-hue:  171;
  --danger-hue: 347;

  /* brand colors */
  --white-color:              white;

  --text-color:               hsl(var(--brand-hue) 20% 20%);
  --text-light-color:         hsl(var(--brand-hue) 10% 35%);
  --text-lighter-color:       hsl(var(--brand-hue) 5%  50%);

  --surface-primary-color:    hsl(var(--brand-hue) 80% 44%);
  --surface-primary-color-l:  hsl(var(--brand-hue) 70% 55%);
  --surface-primary-color-d:  hsl(var(--brand-hue) 100% 36%);
  
  --surface-light-gray-color: hsl(var(--brand-hue) 10% 97%);
  --surface-gray-color:       hsl(var(--brand-hue) 10% 90%);
  --surface-disabled-color:   hsl(var(--brand-hue) 10% 85%);

  --modal-background-color:   hsl(var(--brand-hue) 50% 15% / 0.1);

  --border-color:             hsl(var(--brand-hue) 14% 90%);
  --border-color-darker:      hsl(var(--brand-hue) 13% 83%);

  --focus-ring-color:         hsl(var(--brand-hue) 84% 78% / 0.8);
  --focus-border-color:       hsl(var(--brand-hue) 66% 50%);

  /* danger colors */
  --text-danger-color:        hsl(var(--danger-hue) 50% 45%);

  /* brand borders */
  --border-radius:        0.375rem;
  --border-radius-xl:     1rem;
  --border-radius-xxl:    1.5rem;
  --border-radius-round:  100vmax;

  /* brand shadows  */
  --no-shadow: 0 0 rgb(0 0 0 / 0);
  --shadow-sm: 0 1px  3px  0     rgb(0 0 0 / 0.1), 0 1px  2px  0px  rgb(0 0 0 / 0.06);
  --shadow-md: 0 10px 15px -3px  rgb(0 0 0 / 0.1), 0 4px  6px  -2px rgb(0 0 0 / 0.05);
  --shadow-lg: 0 20px 25px -5px  rgb(0 0 0 / 0.1), 0 10px 10px -5px rgb(0 0 0 / 0.04);
  --shadow-xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  /* Eine weniger starke Version des --shadow-lg */
  --shadow-lg-faint: 0 20px 25px -5px  rgb(0 0 0 / 0.08), 0 10px 10px -5px rgb(0 0 0 / 0.03);

  --no-shadow-inset: inset var(--no-shadow);
  --shadow-inset:    inset 0 1px 3px 0 rgb(0 0 0 / 0.1), inset 0 1px 2px 0px rgb(0 0 0 / 0.06);

  /* brand transitions - cubic in and out */
  --ease-in:      cubic-bezier(0.32, 0, 0.67, 0);
  --ease-out:     cubic-bezier(0.33, 1, 0.68, 1);
  --ease-in-out:  cubic-bezier(0.4, 0, 0.2, 1);

  --duration: 200ms;
  --duration-quick: 100ms;
  --duration-quicker: 50ms;
}


/*
Setze Styling von Elementen auf einen einheitlichen und sinnvollen Standard.
Der meiste Code dafür kommt von TailwindCSS.
*/


*,
::before,
::after {
  /* Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4) */
  box-sizing: border-box;
  /* Setze border-Properties auf sinnvolle Standardwerte */
  border-width: 0;
  border-style: solid;
  border-color: var(--border-color);
}


/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
*/


html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}


/*
Remove the margin in all browsers.
*/


body {
  margin: 0;
}


/*
Add the correct font weight in Edge and Safari.
*/


b,
strong {
  font-weight: bolder;
}


/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/


button,
input {
  font-family: inherit; /* 1 */
  font-size: 87.5%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}


/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/


button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}


/*
Use the modern Firefox focus style for all focusable elements.
*/


:-moz-focusring {
  outline: auto;
}


/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/


:-moz-ui-invalid {
  box-shadow: none;
}


/*
Add the correct vertical alignment in Chrome and Firefox.
*/


progress {
  vertical-align: baseline;
}


/*
Removes the default spacing and border for appropriate elements.
*/


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


/*
Make sure disabled buttons don't get the pointer cursor.
*/


:disabled {
  cursor: default;
}
