button {
  --shadow: var(--shadow-sm);
  transform: scale(1);

  border-radius: var(--border-radius);

  padding: 0.5rem 1rem;

  font-weight: 500;
  letter-spacing: 0.025em;

  outline: 2px solid transparent;
  outline-offset: 2px;

  --trans-duration: var(--duration-quick);
  transition:
    box-shadow        var(--trans-duration) var(--ease-in-out),
    transform         var(--trans-duration) var(--ease-in-out),
    background-color  var(--trans-duration) var(--ease-in-out);
}
button:not(:disabled):hover {
  --shadow: var(--shadow-md);
}
button:not(:disabled):active {
  transform: scale(0.97);
  --shadow: var(--no-shadow);
  --trans-duration: var(--duration-quicker);
}

button.button-big {
  font-size: 100%;
  padding: 0.75rem 1.25rem;
}

button.round {
  border-radius: var(--border-radius-round);
}

button.button-primary {
  background-color: var(--surface-primary-color);
  color: var(--white-color);
}
button.button-primary:not(:disabled):hover {
  background-color: var(--surface-primary-color-l);
}
button.button-primary:not(:disabled):active {
  background-color: var(--surface-primary-color-d);
}

button.button-danger {
  color: var(--text-danger-color);
}

button:disabled {
  background-color: var(--surface-disabled-color);
  --shadow: var(--no-shadow);
}
