input {
  --shadow: var(--no-shadow-inset);

  width: 100%;
  border-radius: var(--border-radius);
  border-width: 1px;
  border-color: var(--border-color);
  padding: 0.25rem 0.5rem;
  color: var(--text-color);
  cursor: text;

  --trans-duration: var(--duration-quick);
  transition:
    box-shadow   var(--trans-duration) var(--ease-in-out),
    border-color var(--trans-duration) var(--ease-in-out);
}
input:not(:disabled):hover {
  border-color: var(--border-color-darker);
}
input:not(:disabled):focus {
  --shadow: var(--shadow-inset);
  --trans-duration: var(--duration-quicker);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

input:is([type="date"], [type="time"])::-webkit-calendar-picker-indicator {
  opacity: 0.75;
}
